In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("D:/M.Sc. Thesis/Data/Diagnostics.csv")

In [3]:
df1

,FileName,Rhythm,Beat,PatientAge,Gender,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,MUSE_20180113_171327_27000,AFIB,RBBB TWC,85,MALE,117,234,114,356,496,81,-27,19,208,265,386
1,MUSE_20180112_073319_29000,SB,TWC,59,FEMALE,52,52,92,432,401,76,42,8,215,261,431
2,MUSE_20180111_165520_97000,SA,NONE,20,FEMALE,67,67,82,382,403,88,20,11,224,265,415
3,MUSE_20180113_121940_44000,SB,NONE,66,MALE,53,53,96,456,427,34,3,9,219,267,447
4,MUSE_20180112_122850_57000,AF,STDD STTC,73,FEMALE,162,162,114,252,413,68,-40,26,228,285,354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10641,MUSE_20181222_204306_99000,SVT,NONE,80,FEMALE,196,73,168,284,513,258,244,32,177,261,319
10642,MUSE_20181222_204309_22000,SVT,NONE,81,FEMALE,162,81,162,294,482,110,-75,27,173,254,320
10643,MUSE_20181222_204310_31000,SVT,NONE,39,MALE,152,92,152,340,540,250,38,25,208,284,378
10644,MUSE_20181222_204312_58000,SVT,NONE,76,MALE,175,178,128,310,529,98,-83,29,205,269,360
10645,MUSE_20181222_204314_78000,SVT,NONE,75,MALE,117,104,140,312,435,263,144,19,208,278,364

In [4]:
df1['Rhythm'].value_counts()

SB       3889
SR       1826
AFIB     1780
ST       1568
SVT       587
AF        445
SA        399
AT        121
AVNRT      16
AVRT        8
SAAWR       7
Name: Rhythm, dtype: int64

In [5]:
df1['Rhythm'] = df1['Rhythm'].replace(['AF'],'AFIB')
df1['Rhythm'] = df1['Rhythm'].replace(['SVT'],'GSVT')
df1['Rhythm'] = df1['Rhythm'].replace(['AT'],'GSVT')
df1['Rhythm'] = df1['Rhythm'].replace(['SAAWR'],'GSVT')
df1['Rhythm'] = df1['Rhythm'].replace(['ST'],'GSVT')
df1['Rhythm'] = df1['Rhythm'].replace(['AVNRT'],'GSVT')
df1['Rhythm'] = df1['Rhythm'].replace(['AVRT'],'GSVT')
df1['Rhythm'] = df1['Rhythm'].replace(['SI'],'SR')
df1['Rhythm'] = df1['Rhythm'].replace(['SA'],'SR')

In [6]:
df1['Rhythm'].value_counts()

SB      3889
GSVT    2307
AFIB    2225
SR      2225
Name: Rhythm, dtype: int64

In [7]:
df1.to_csv("F:/4 class Diagnostics.csv")